body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.site-header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.site-header ul,
footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.site-header ul li,
footer ul li {
    display: inline;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.form-wrap {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-wrap h1 {
    text-align: center;
}

.form-wrap input[type="email"], 
.form-wrap input[type="password"],
.form-wrap input[type="text"],
.form-wrap input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-wrap input[type="submit"] {
    background-color: #003366;
    color: white;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #003366;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: white;
}

@media (max-width: 600px) {
    .site-header ul li, footer ul li {
        display: block;
        margin: 10px 0;
    }
}
